modules = ["python-3.12", "bash"]
run = "builds/server/server.x86_64"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "builds/server/server.x86_64"]

[[ports]]
localPort = 1111
externalPort = 80

[[ports]]
localPort = 8080
externalPort = 443
